<!DOCTYPE html>
<html>
  <head>
    <title>credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Credits</h1>
    <p>Jose Miguel Balanya </p>
    <p>Martin Collado </p>
    <img src="https://imagenesfotos.com/wp-content/2011/02/montanas_nevadas10.jpg">
  </body>
</html>
